*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.container{
    margin: 0 100px;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.header__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
}
.header__content nav{
    display: flex;
    align-items: center;
}

.header__content nav button{
    margin: 0 20px;
    background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    padding: 20px 35px;
    font-size: 15px;
    font-weight: 500;
    border: none;
    border-radius: 30px;
    text-transform: uppercase;
    color: white;
    transition: all 1s;
    cursor: pointer;
}

.header__content nav button:hover{
    background-position: right center;
}
.header__content nav ul li{
    display: inline;
    padding: 0 15px;
}

.header__content nav ul li a{
    font-size: 18px;
    text-decoration: none;
    color: black;
}

.header__content nav ul li a i{
    font-size: 15px;
    color: black;
}




.header__content nav ul li a span {
    display: inline-block;
  transition: all 1s;
}
.header__content nav ul li a:hover {
  color: #f55f8d;
}
.header__content nav ul li a:hover i {
    color: #f55f8d;
  }
.header__content nav ul li a:hover span{
  animation: upToDown 0.3s;
}
/* Carousel */
.carousel{
    background-image: url("../img/pic2.png");
    background-size: 100%;
    background-position: top;
    height: 100vh;
  /* overflow: hidden; */
}

.carousel .carousel__content{
    display: flex;
    height: 100%;
    padding-top: 150px;
}
.carousel .carousel__content .carousel__left{
    width: 65%;
}
.carousel .carousel__content .carousel__left .title p{
    font-size: 22px;
    font-weight: 600;
    color: #f55f8d;
    padding-top: 100px;
}
.carousel .carousel__content .carousel__left .title h2{
    font-size: 70px;
    font-weight: 600;
    line-height: 70px;
    margin: 30px 0;
    color: #262626;
}
.carousel .carousel__content .carousel__left .content p{
    font-size: 18px;
    color: #636363;
    margin-bottom: 20px;
}
.carousel .carousel__content .carousel__left .content ul{
    line-height: 40px;
}
.carousel .carousel__content .carousel__left .content ul li{
    list-style: none;
    padding: 10px 0;
    font-size: 20px;
    color: #636363;
}
.carousel .carousel__content .carousel__left .content ul li span{
    padding: 10px;
    color: white;
    border-radius: 100%;
    background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    margin-right: 20px;
}
.carousel .carousel__content .carousel__left .content .btn__start{
    text-align: center;
    background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    padding: 20px 35px;
    font-size: 15px;
    font-weight: 500;
    border: none;
    border-radius: 30px;
    text-transform: uppercase;
    transition: all 1s;
    width: 25%;
    margin-top: 20px;
}
.carousel .carousel__content .carousel__left .content .btn__start a{
    text-decoration: none;
    color: white;
}
.carousel .carousel__content .carousel__left .content .btn__start a:hover{
    text-decoration: underline;
}
.carousel .carousel__content .carousel__right{
    width: 35%;
}

/* Service */
.services{
    background-image: url("../img/bg2.png");
    /* height: 100vh; */
    height: 500px;
    background-size: 100%;
    background-position: top;
}
.services .service__container .services__title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.services .service__container .services__title p{
    font-size: 22px;
    font-weight: 600;
    color: #f55f8d;
    padding-top: 100px;
}
.services .service__container .services__title h2{
    font-size: 70px;
    font-weight: 600;
    line-height: 70px;
    margin: 30px 0;
    color: #262626;
}
.services .service__container .services__content{
    display: flex;
    gap: 10px;
    justify-content: space-between;
}
.services .service__container .services__content .item{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding-top: 20px;
    border-radius: 20px;
    transform: translateY(0);
    transition: all 0.5s;
}
.services .service__container .services__content .item .item__content{
    text-align: center;
    margin: 20px 0;
}
.services .service__container .services__content .item .item__content h3{
    font-size: 24px;
    padding: 20px 0;
}
.services .service__container .services__content .item .item__content p{
    padding: 0 40px;
    font-size: 16px;
    color: #636363;
    line-height: 30px;
}
.services .service__container .services__content .item img{
    width: 50%;
}
.services .service__container .services__content .item:hover{
    border-image: url("../img/br.png") 2 round;
    border-style: dashed;
    transform: translateY(-15px);
}
@keyframes upToDown {
  49% {
    transform: translateY(100%);
  }
  50% {
    opacity: 0;
    transform: translateY(-100%);
  }
  51% {
    opacity: 1;
  }
}

